* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
	font-size: 24px;
}

/* Body Styling */

html {
	max-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: black;
	background-image: radial-gradient(rgba(24, 103, 103, 0.75), black 120%);
}

body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: repeating-linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.15),
		rgba(0, 0, 0, 0.15) 1px,
		transparent 1px,
		transparent 2px
	);
}

/* Link Styling */

a:link {
	color: #d1d9df;
	text-decoration: none;
}

a:visited {
	color: #d1d9df;
}

.terminal-links a:hover {
	color: #2b86b5;
	font-size: 2em;
	text-shadow: 0 0 15px #c8c8c8;
}

#main {
	position: relative;
}

/* Terminal Font & Text Styling */

#terminal {
	position: absolute;
	top: 0;
	left: 0;
}

/* #terminal::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 25px;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.3);
} */

.terminal-section {
	margin: 25px;
	padding: 75px;
	/* display: block; */
}

/* .typing {
	display: inline-block;
	overflow: hidden;
	letter-spacing: 0.27em;
	white-space: nowrap;
	font-weight: 700;
	font-size: 1.2em;
	border-right: 0.15em solid white;
	margin: 0 auto;
	animation: typing 3.5s steps(40, end), blink 1s step-end infinite;
} */

.typing-style {
	color: white;
	text-shadow: 0 0 5px #c8c8c8;
}

@keyframes typing {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	from,
	to {
		border-color: transparent;
	}
	40% {
		border-color: transparent;
	}
	60% {
		border-color: white;
	}
	100% {
		border-color: white;
	}
}

/* About Section */

#about {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
	position: fixed;
}

.about-open {
	transform: translateX(0%);
}

.about-section {
	display: flex;
	justify-content: space-around;
	padding: 0.5em;
	margin: 0.5em;
}
.about-pic {
	border-radius: 10px;
	padding: 0.3em;
	height: 40vh;
	width: auto;
	z-index: 1;
}

.about-text p {
	font-size: 0.6em;
	padding: 0.3em;
}

.about-text p a:link {
	font-size: 1.5em;
	color: #d1d9df;
	text-decoration: none;
}

.about-text p a:visited {
	font-size: 1.5em;
	color: #1f5da5;
}

.about-text p a:hover {
	font-size: 1.3em;
	color: #2b86b5;
}

/* Resume Section */

#resume {
	z-index: -10;
}

/* Portfolio Section */

#portfolio {
	z-index: -10;
}

/* Footer */
.footer-container {
	display: flex;
	justify-content: center;
}
#footer {
	position: fixed;
	bottom: 5px;
}

.iContainer {
	display: flex;
	justify-content: center;
}

.icons {
	font-size: 1rem;
}

.icons a {
	padding: 10px;
}
